html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background-image:url(bgg.jpg);
 	font-family: 'Lato', sans-serif;
	text-align:center;
	background-attachment: fixed;
	background-size: 1366px 800px;
}
#particles {
	top: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
}
.login-form {
	background:#fff;
	width: 26%;
	padding: 10px;
	margin:9% auto 4% auto;
 	position: relative;
	border-radius: 50px;
 	font-family: 'Lato', sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form h2{
	font-size:20px;
	color:grey;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	text-align: center;
	
}
.login-form h3{
	text-align: center;
	  font-family: 'Lato', sans-serif;
	  font-size: 17px;
	  font-weight: 300;
	  color: #378DE5;
	  line-height: 1.6;
	  margin: 0;
	  padding: 15px 0;
	  color: #555;
	  -webkit-text-stroke: 0.2px;
	
}
.head {
	top:-10%;
	text-align:center;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border:6px solid rgba(221, 218, 215, 0.23);
}
.main{
	position:relative;
}
.main h1{
	font-size:28px;
	color:#676767;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	padding-top: 19%;
	text-align: center;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main form {
	width: 80%;
	margin: 0 auto;
	padding: 6% 0 9% 0;
}
.main p {
text-align: center;
}
.main form p a {
	color: #888;
	font-family: 'Lato', sans-serif;
}
form p a:hover {
	color:#21A957;
}
p,b{
	font-family: 'Lato', sans-serif;
}
a,p {
	  text-decoration: none;
	  color: #282828;
	  font-size: 15px;
	  font-family: 'Lato', sans-serif;
	  font-weight: 300;
	  transition: color .3s ease;
	  outline: none;
	}
.formm
{
	text-align:left;
	position: relative;
	width:92%;
	padding:3%;
	background:#fff;
	margin-bottom: 6%;
	outline: none;
	border: none;
	border-bottom: thin solid #ccc;
	-webkit-appearance:none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size:16px; 
	color: #378DE5;	
}

.formm:focus, .formm:focus {
	  border:none;
	  border-bottom: thin solid #378DE5;
	  -webkit-transition: all .4s ease;
	  -moz-transition: all .4s ease;
	  -o-transition: all .4s ease;
	  transition: all .4s ease;
}
.button-daftar{
	width: 99%;
	padding: 3%;
	color: #378DE5;
	  background-color:#d1d1d1;
	  border:none;
	  border-bottom: 1px solid #378DE5;
	  font-family: 'Lato', sans-serif;
	  font-weight: 300;
	  font-size: 16px;
	  transition: all .3s ease;
	  margin-top: 0px;
	  cursor: pointer;
}
.button-daftar:hover{
	background-color: green;
	  color: #fff;
}
.button-daftar:disabled{
	width: 99%;
	padding: 3%;
	color: #fff;
	  background-color:red;
	  border:none;
	  font-family: 'Lato', sans-serif;
	  font-weight: 300;
	  font-size: 16px;
	  transition: all .3s ease;
	  margin-top: 0px;
	  cursor: not-allowed;
}
.button-daftar:hover:disabled{
	background-color: red;
	  color: #fff;
}
.btn-login{
	width: 99%;
	padding: 3%;
	color: #378DE5;
	background-color:#d1d1d1;
	border:none;
	border-bottom: 1px solid #378DE5;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	transition: all .3s ease;
	margin-top: 0px;
	cursor: pointer;
}
.btn-login:hover{
	background-color: #378DE5;
	color: #fff;
}	
.btn-logout{
	width: 99%;
	padding: 3%;
	color: #378DE5;
	background-color:#d1d1d1;
	border:none;
	border-bottom: 1px solid #378DE5;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	transition: all .3s ease;
	margin-top: 0px;
	cursor: pointer;
}
.btn-logout:hover{
	background-color: red;
	color: #fff;
}

@media (max-width:1440px){
	.login-form {
	width:30%;
	margin: 11% auto 4% auto;
	}
	.main h1 {
	padding-top: 23%;
	}
}
@media (max-width:1366px){
	.login-form {
	width: 32%;
	margin: 10% auto 4% auto;
	}
}
@media (max-width:1280px){
	.login-form  {
		margin:8% auto 0;
		width:34%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
@media (max-width:1024px){
.login-form  {
		margin:12% auto 0;
		width:45%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
}
@media (max-width:768px){
	.login-form  {
		margin: 16% auto 0;
		width: 59%;
	}
	.formm {
	font-family: 'Lato', sans-serif;
	}
}
@media (max-width:640px){                                  
	.login-form {
	margin: 20% auto 0;
	width: 63%;
	}
	.formm {
	font-family: 'Lato', sans-serif;
	}
	.login-form img{
		width: 125px;
		height: 125px;
	}
}
@media (max-width:480px){                                  
	.login-form {
	margin: 32% auto 0;
	width: 74%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.login-form img{
		width: 115px;
		height: 115px;
	}
	.main h1 {
	font-size: 22px;
	}
	.head img {
	width: 78%;
	}
	.head {
	top: -15%;
	left: 34%;
	}
	.formm {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	}
@media (max-width:320px){                                  
	.login-form  {
		margin:20% auto 0;
		width: 85%;
		
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 	}
	.login-form h2{
		font-size: 25px;
	}
	.login-form h3{
		font-size: 20px;
	}
	.login-form p{
		font-size: 15px;
	}
	.login-form img{
		width: 100px;
		height: 100px;
	}
	.main h1 {
	padding-top: 20%;
	font-size: 20px;
	}
	.head img {
	width: 60%;
	border: 5px solid rgba(221, 218, 215, 0.23);
	}
	.head {
	top: -15%;
	left: 36%;
	}
	.formm {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	}
	.main form p a {
	font-size: 15px;
	}
		
}
